@import '../mixins.scss';

.progress-wrapper {
  width: 15%;
  height: 3px;
  margin: 15px auto;
  background: rgba($color: #fff, $alpha: 0.8);
  border-radius: 50px;
  text-align: center;
  @include is-mobile {
    width: 70%;
  }
  &__scale {
    height: 100%;
    transition: all 0.2s ease;
    background: rgba($color: #000, $alpha: 0.6);
    margin-bottom: 30px;
  }
}
