@import '../mixins.scss';

.splash-screen-wrapper {
  padding-top: 5vh;
  height: 100vh;
  width: 100%;
  text-align: center;
  background: black;
  @include is-mobile {
    padding-top: 50px;
  }
  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__text {
    position: relative;
    display: inline-block;
    width: 18%;
    @include is-mobile {
      height: 45vh;
    }
    @media (max-height: 680px) and (min-width: 1200px) {
      height: 250px;
    }
    div {
      height: 50%;
      > p {
        font-family: 'Gothic Medium';
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 0px;
      }
    }
    div:nth-child(1) {
      height: fit-content;
      position: absolute;
      top: 0;
    }
    div:nth-child(2) {
      height: fit-content;
      position: absolute;
      bottom: 0;
    }
    &--show {
      visibility: visible;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--hide {
      visibility: hidden;
      height: 100px;
    }
    &--left {
      text-align: left;
      left: 16px;
    }
    &--right {
      text-align: right;
      right: 16px;
    }
  }
  img {
    width: 250px;
    display: block;
    margin: 50px auto;
    padding: 2%;
    @media (max-height: 680px) and (min-width: 1200px) {
      margin: 10px auto;
    }
    @include is-mobile {
      margin: 25px auto;
      padding: 2%;
      width: 200px;
    }
  }
  &__image {
    display: inline-block;
    width: 400px;
    height: 400px;
    @include is-mobile {
      width: 250px;
      height: 250px;
      margin-top: 25px;
    }
    @media (max-height: 680px) and (min-width: 1200px) {
      width: 250px;
      height: 250px;
    }
    @media (min-height: 640px) and (min-width: 1000px) and (max-height: 800px) and (max-width: 1200px) {
      width: 300px;
      height: 300px;
    }
    img {
      height: 400px;
      width: 400px;
      margin: 0 0 25px 0;
      @media (min-height: 640px) and (min-width: 1000px) and (max-height: 800px) and (max-width: 1200px) {
        width: 300px;
        height: 300px;
      }
      @include is-mobile {
        width: 250px;
        height: 250px;
      }
    }
  }
  > p {
    padding: 1% 0;
    font-size: 1.6rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Gothic Regular';
    @include is-mobile {
      padding-top: 15%;
      font-size: 1rem;
      letter-spacing: 10px;
    }
  }
}
