@import '../../mixins.scss';
@import '../../color-palette.scss';

.news-cards-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 94%;
  height: 70vh;
  margin: auto;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar {
    background-color: rgba($color: #fff, $alpha: 0.8) !important;
    border-radius: 20px !important;
  }
  @media (max-height: 680px) and (min-width: 1200px) {
    height: 79vh;
  }
}

.news-cards-wrapper-mobile {
  height: 100%;
  display: block;
  .carousel.slide {
    .carousel-indicators {
      right: unset !important;
      left: -30px !important;
      bottom: -20px !important;
    }
  }
}
