@import '../../mixins.scss';

.identity-card-wrapper {
  margin-bottom: 1%;
  height: 23%;
  display: block;
  .row {
    height: 100% !important;
  }
  &__img {
    max-height: 100% !important;
    img {
      max-height: 100% !important;
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover !important;
      object-position: top;
    }
  }
  .identity-card-content {
    border-top: 1px solid black;
    width: 90%;
    margin-bottom: 20px;
    text-align: right;
    @include is-mobile {
      margin-top: 10px;
    }
    h1 {
      font-size: 1.1rem;
      margin-top: 5px;
      margin-bottom: 10px;
      text-transform: uppercase;
      padding-left: 0;
      font-family: 'Gothic Medium';
    }
    div {
      display: flex;
      justify-content: flex-end;
      section {
        display: block;
        width: 70%;
        h5 {
          color: rgba($color: #000, $alpha: 0.8);
          font-size: 0.65rem;
          font-family: 'Suisse Light';
        }
        span {
          color: rgba($color: #000, $alpha: 0.8);
          font-family: 'Suisse Light';
          font-size: 0.65rem;
        }
      }
    }
  }
}
