@import '../../variables.scss';
@import '../../color-palette.scss';
@import '../../mixins.scss';

.approach-card-wrapper {
  position: relative;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 150%;
  @include is-mobile {
    height: 75vh;
    width: 90% !important;
    padding-top: 30px;
  }
  &__content {
    padding: 80px;
    &--left {
      text-align: left;
    }
    &--right {
      text-align: right;
      margin-left: auto;
    }
    h1 {
      font-size: 2.5rem;
      font-family: 'Gothic Medium';
      margin-bottom: 35px;
      @include is-mobile {
        font-size: 1.5rem;
        margin: 15px 0 !important;
      }
      @media (max-height: 680px) and (min-width: 1200px) {
        margin: 10px 0 !important;
      }
    }
    p {
      width: 75%;
      font-size: 1.3rem;
      font-family: 'Suisse Light';
      @include is-mobile {
        height: 32%;
        font-size: 1rem;
      }
      @media (max-height: 680px) and (min-width: 1200px) {
        height: 25%;
      }
    }
  }
}
