@import '../../mixins.scss';

.approach-slider-wrapper {
  position: relative;
  .BrainhubCarousel__dots {
    justify-content: flex-end !important;
    position: absolute;
    bottom: -50px;
    left: 5%;
    // @include is-mobile {
    //   bottom: 0;
    //   left: 5%;
    // }
  }
}
