@import '../../mixins.scss';

.approach-slider-wrapper {
  position: relative;
  .carousel.slide {
    .carousel-indicators {
      right: unset !important;
      left: -80px !important;
      bottom: -50px !important;
    }
  }
  @include is-mobile {
    height: 100vh;
    .carousel.slide {
      .carousel-indicators {
        right: unset !important;
        left: -30px !important;
        bottom: -50px !important;
      }
    }
  }
}
