@import '../../variables.scss';
@import '../../mixins.scss';

.home-slide-wrapper {
  height: calc(100vh - #{$header-height} - #{$footer-height});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  @include is-mobile {
    height: calc(100vh - #{$header-height-mobile} - #{$footer-height-mobile});
  }
  h1 {
    padding-top: 10%;
    padding-left: 10%;
    font-size: 2.5rem;
    width: 60%;
    line-height: 50px;
    margin-bottom: 50px;
    text-align: justify;
    font-weight: lighter;
    font-family: 'Suisse Regular';
    @include is-mobile {
      margin-bottom: 30px;
      line-height: 35px;
      font-size: 1.4rem;
      width: 80%;
      text-align: left;
    }
    @media (max-height: 680px) {
      width: 80%;
      padding-top: 2%;
      font-size: 1.5rem;
      line-height: 40px;
    }
    @media (max-height: 680px) and (min-width: 1200px) {
      font-size: 1.6rem;
      padding-top: 6%;
      line-height: 35px;
      width: 55%;
    }
  }
  div {
    padding-left: 10%;
    padding-bottom: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    @include is-mobile {
      padding-bottom: 25px;
      font-size: 0.8rem;
    }
    a {
      color: white;
      font-family: 'Suisse Book';
    }
  }
}
