@import '../../variables.scss';
@import '../../color-palette.scss';
@import '../../mixins.scss';

.team-slide-wrapper {
  height: calc(100vh - #{$header-height} - #{$footer-height});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $footer-height;
  &__text {
    h1 {
      padding: 15% 20% 0 20%;
      font-size: 2.5rem;
      line-height: 50px;
      margin-bottom: 40px;
      text-align: center;
      font-family: 'Suisse Regular';
      @include is-mobile {
        margin-bottom: 30px;
        line-height: 35px;
        font-size: 1.4rem;
        width: 80%;
        text-align: left;
      }
      @media (max-height: 680px) {
        width: 80%;
        padding-top: 2%;
        font-size: 1.5rem;
        line-height: 40px;
      }
      @media (max-height: 680px) and (min-width: 1200px) {
        font-size: 1.6rem;
        padding-top: 6%;
        line-height: 35px;
        width: 55%;
      }
    }
  }
  &__read-more {
    font-family: 'Suisse Book';
    text-align: center;
    text-decoration: underline;
    color: white;
    &:hover,
    &:active,
    &:focus {
      color: white;
    }
  }
  &__arrow {
    height: 60px;
    cursor: pointer;
    img {
      display: block;
      margin: 0 auto 20px auto;
      height: 60px;
      transform: rotate(90deg);
    }
    @include is-mobile {
      display: none !important;
    }
    @include is-tablet {
      display: none !important;
    }
  }
  &__modal {
    &__overlay {
      top: 0;
      left: 0;
      position: absolute;
      height: 0%;
      width: 100vw;
      z-index: 500;
      overflow-y: hidden;
      transition: 0.5s;
      background-color: black;
    }

    &__content {
      position: relative;
      top: 10%;
      width: calc(100% - 50px);
      text-align: left;
      margin-top: 30px;
      padding-left: 50px;
      display: flex;
      @include is-mobile {
        top: 10%;
        margin-top: 0px;
        width: 90%;
        padding: 0 5%;
        height: 100%;
      }
      img {
        width: 50%;
        height: 50vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 0;
        object-fit: cover;
        @include is-mobile {
          display: none;
        }
        @media (max-height: 680px) and (min-width: 1200px) {
          width: 45%;
        }
      }
      section {
        width: 40%;
        padding-top: 0;
        display: block;
        @include is-mobile {
          width: 100%;
        }
        h1 {
          font-family: 'Suisse Book';
          margin-bottom: 0;
          @include is-mobile {
            font-size: 1.4rem;
          }
        }
        h2 {
          margin-top: 0;
          margin-bottom: 30px;
          font-family: 'Suisse Light';
          font-size: 1.2rem;
          @include is-mobile {
            font-size: 1.1rem;
            margin-bottom: 15px;
          }
        }
        div {
          height: 50%;
          width: 100%;
          overflow-y: auto;
          font-family: 'Suisse Light';
          font-size: 1.2rem;
          @media (max-height: 680px) and (min-width: 1200px) {
            height: 25%;
          }
          @include is-mobile {
            height: 70%;
            font-size: 1rem;
          }
          &::-webkit-scrollbar {
            width: 5px !important;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $primary !important;
            border-radius: 20px !important;
          }
          &::-webkit-scrollbar {
            background-color: rgba($color: #fff, $alpha: 0.8) !important;
            border-radius: 20px !important;
          }
        }
      }
    }

    &__close-button {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      cursor: pointer;
      z-index: 500;
      @include is-mobile {
        font-size: 50px;
        top: 0;
      }
    }

    @media screen and (max-height: 450px) {
      &__overlay {
        overflow-y: auto;

        -webkit-overflow-scrolling: touch;
      }
      &__close-button {
        font-size: 40px;
        top: 15px;
        right: 35px;
        z-index: 500;
      }
    }
  }
  &__team-members-wrapper {
    height: 100vh;
    padding-top: $header-height;
    position: relative;
    &__Img {
      width: 100%;
      height: 100%;
    }
    &__members {
      position: absolute;
      top: $header-height;
      display: flex;
      background: linear-gradient(
        to bottom,
        rgba(246, 246, 246, 0.8) 60%,
        rgba(0, 0, 0, 0) 100%
      );
      height: 100%;
      &__arrow {
        position: absolute;
        display: block;
        bottom: 80px;
        cursor: pointer;
        width: 300px;
        transform: translateX(50vw);
        left: -150px;
        &__Img {
          height: 60px;
          transform: rotate(-90deg);
          display: block;
          margin: auto;
        }
        @include is-mobile {
          display: none !important;
        }
        @include is-tablet {
          display: none !important;
        }
      }
      &__read-more {
        text-align: center;
        text-decoration: underline;
        font-family: 'Suisse Book';
        color: black;
        &:hover,
        &:active,
        &:focus {
          color: black;
        }
      }
    }
    &__member {
      width: 50%;
      padding: 4%;
      color: black;
      display: flex;
      &__first-section {
        width: 40%;
        margin-right: 10%;
        img {
          width: 100%;
        }
        h3 {
          font-family: 'Jar Binks Regular';
          font-size: 3rem;
          text-align: center;
        }
      }
      &__second-section {
        width: 60%;
        h1 {
          font-family: 'Gothic Medium';
          text-transform: uppercase;
          font-size: 3rem;
        }
        h2 {
          font-family: 'Gothic Regular';
          text-transform: uppercase;
          font-size: 2.5rem;
          width: 95%;
        }
        div p {
          font-family: 'Suisse Regular';
          font-size: 1rem;
          text-align: justify;
        }
      }
    }
  }
}
