@import './variables.scss';
@import './color-palette.scss';

@font-face {
  font-family: 'Suisse Book';
  src: url("../fonts/Suisse\ Int'l\ Book.otf");
}

@font-face {
  font-family: 'Suisse Light';
  src: url("../fonts/Suisse\ Int'l\ Light.otf");
}

@font-face {
  font-family: 'Suisse Regular';
  src: url("../fonts/Suisse\ Int'l\ Regular.otf");
}

@font-face {
  font-family: 'Suisse SemiBold';
  src: url("../fonts/Suisse\ Int'l\ SemiBold.otf");
}

@font-face {
  font-family: 'Suisse Thin';
  src: url("../fonts/Suisse\ Int'l\ Thin.otf");
}

@font-face {
  font-family: 'Gothic Medium';
  src: url('../fonts/AlternateGothicATF-Medium.otf');
}

@font-face {
  font-family: 'Gothic Regular';
  src: url('../fonts/AlternateGothicATF.otf');
}

@font-face {
  font-family: 'Jar Binks Regular';
  src: url('../fonts/Jar Binks.otf');
}

html {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  background-color: white !important;
  color: white !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif !important;
  overflow: hidden;
  height: 100%;
}

li,
a {
  text-decoration: none;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0px !important;
  }
}

.carousel-indicators {
  left: unset !important;
  bottom: 20px !important;
  .active {
    background-color: white !important;
  }
  li {
    background-color: rgba($color: #fff, $alpha: 0.5) !important;
  }
}
