@import '../color-palette.scss';
@import '../variables.scss';
@import '../mixins.scss';

.about-wrapper {
  padding-top: $header-height;
  height: max-content;
  position: relative;
  &__title {
    display: none;
  }
  @include is-mobile {
    padding-top: $header-height-mobile;
    &__title {
      height: $page-title-height-mobile;
      width: fit-content;
      display: block;
      color: $primary;
      font-size: 2rem;
      font-family: 'Gothic Medium';
      margin: 0 auto;
    }
  }
}
