@import '../variables.scss';
@import '../mixins.scss';

.about-wrapper {
  padding-top: $header-height;
  height: max-content;
  position: relative;
  @include is-mobile {
    padding-top: $header-height-mobile;
  }
}
