@import '../variables.scss';
@import '../mixins.scss';

.approach-wrapper {
  padding-top: $header-height;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  img {
    position: absolute;
    width: 20%;
    transform: translate(
      calc(50vw - 50%),
      calc(50vh - 50% + #{$header-height/2})
    );
    z-index: 10;
    @include is-mobile {
      display: none;
    }
  }
  @include is-mobile {
    padding-top: $header-height-mobile;
    height: max-content;

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
