@import '../variables.scss';
@import '../mixins.scss';

.contact-wrapper {
  position: relative;
  padding-top: $header-height;
  height: 90%;
  width: 100%;
  @media (max-height: 680px) and (min-width: 1200px) {
    height: 85%;
  }
  @include is-mobile {
    padding-top: $header-height-mobile;
    height: max-content;
    display: block;
  }
  h1 {
    font-size: 1rem;
    padding-left: 5%;
    font-family: 'Suisse Book';
    color: black;
  }
  &__content {
    padding-left: 5%;
    margin-top: 50px;
    display: flex;
    height: 90%;
    color: black;
    @include is-mobile {
      margin-top: 0;
      display: block;
      padding: 5%;
    }
    @media (max-height: 680px) and (min-width: 1200px) {
      margin-top: 20px;
    }
    img {
      width: 50%;
      height: 96%;
      object-fit: cover;
      // margin-right: 5%;
      @include is-mobile {
        width: 100%;
        height: 50vh;
        margin: auto;
      }
    }
    &__address {
      width: 50%;
      display: block;
      @include is-mobile {
        width: 100%;
      }
    }
  }
}
