@import '../variables.scss';
@import '../mixins.scss';

.news-wrapper {
  padding-top: $header-height;
  height: 90%;
  position: relative;
  @media (max-height: 680px) and (min-width: 1200px) {
    height: 79vh;
  }
  h1 {
    margin-left: 3%;
    font-size: 1.2rem;
    font-family: 'Suisse Book';
  }
  @include is-mobile {
    padding-top: $header-height-mobile;
  }
  @media (max-height: 680px) and (min-width: 1200px) {
    height: 100%;
  }
}
