@import '../variables.scss';
@import '../mixins.scss';

.team-wrapper {
  padding-top: $header-height;
  height: fit-content;
  position: relative;
  @include is-mobile {
    padding-top: $header-height-mobile;
    height: max-content;
  }
}
