@import '../../variables.scss';
@import '../../color-palette.scss';
@import '../../mixins.scss';

.about-slide-wrapper {
  display: flex;
  position: relative;
  height: calc(100vh - #{$header-height});
  &--long-slide {
    @include is-mobile {
      height: calc(200vh - #{$header-height}) !important;
    }
  }
  @include is-mobile {
    position: relative;
    display: block;
    height: calc(100vh - #{$header-height-mobile});
  }
  @include is-tablet {
    width: 100%;
    position: relative;
    display: block;
    height: calc(100vh - #{$header-height-mobile} - #{$footer-height-mobile});
  }

  &__hq-image {
    object-fit: cover;
    width: 50%;
    @include is-mobile {
      width: 100%;
      height: calc(100vh - #{$header-height-mobile});
    }
    @include is-tablet {
      width: 100%;
    }
  }
  &__logo {
    position: absolute;
    bottom: 0;
    width: 15%;
  }
  &__content {
    width: 40%;
    // padding-top: 2%;
    padding-left: 8%;
    @include is-mobile {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #fff, $alpha: 0.55);
    }
    @include is-tablet {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding-left: 0;
      background-color: rgba($color: #000, $alpha: 0.55);
    }
    @media (max-height: 680px) and (min-width: 1200px) {
      width: 45%;
    }
    h1 {
      font-size: 3rem;
      margin-bottom: 30px;
      text-align: justify;
      font-family: 'Gothic Medium';
      color: black;
      margin-top: -4px;
      @include is-mobile {
        font-size: 1.8rem;
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }
    &__details {
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      @media (max-height: 680px) and (min-width: 1200px) {
        height: 50%;
        overflow-y: auto;
      }
      @include is-mobile {
        margin-top: 5%;
        width: 90%;
      }
      @include is-tablet {
        padding-top: 20%;
        width: 100%;
      }
      &::-webkit-scrollbar {
        width: 5px !important;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary !important;
        border-radius: 20px !important;
      }
      &::-webkit-scrollbar {
        background-color: rgba($color: #fff, $alpha: 0.8) !important;
        border-radius: 20px !important;
      }
      p {
        padding-bottom: 10px;
        color: black;
        font-size: 1.2rem;
        font-family: 'Suisse Light';
        @include is-mobile {
          text-align: left;
        }
        &:nth-child(1) {
          line-height: 25px;

          @include is-mobile {
            font-size: 0.8rem;
            line-height: 22px;
            margin-bottom: 0px;
          }
        }
        &:nth-child(2) {
          color: red;
          font-family: 'Suisse Regular';
          font-style: italic;
          margin-bottom: 20px;
          @include is-mobile {
            font-size: 0.8rem;
            line-height: 22px;
          }
        }
        &:nth-child(3),
        &:nth-child(4) {
          line-height: 0;
          font-family: 'Gothic Regular';
          text-transform: uppercase;
          @include is-mobile {
            font-size: 0.8rem;
            margin: 5px;
          }
        }
        &:nth-child(5) {
          font-size: 3rem;
          font-family: 'Jar Binks Regular';
          @include is-mobile {
            margin: 0;
            font-size: 1rem;
          }
        }
        &:nth-child(6) {
          font-family: 'Suisse Regular';
          @include is-mobile {
            margin: 0;
            font-size: 0.9rem;
          }
          a {
            color: black;
          }
        }
      }
      span {
        font-size: 1.4rem;
        text-decoration: underline;
        font-family: 'Suisse Regular';
        @include is-mobile {
          font-size: 1rem;
        }
      }
    }
  }
  &__section {
    width: calc(50% - 5px);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    padding: 8%;
    @include is-mobile {
      width: 100%;
      height: 100vh;
      margin-top: 0px;
    }
    @media (max-height: 680px) and (min-width: 1200px) {
      padding: 4% 6%;
    }
    h1 {
      margin-bottom: 40px;
      font-family: 'Gothic Medium';
      @include is-mobile {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2rem;
      }
      @media (max-height: 680px) and (min-width: 1200px) {
        margin-bottom: 20px;
      }
    }
    &__first-content {
      font-size: 2rem;
      font-family: 'Suisse Light';
      width: 50%;
      line-height: 30px;
      @include is-mobile {
        font-size: 1.3rem;
        width: 80%;
        line-height: 30px;
      }
      @media (max-height: 680px) and (min-width: 1200px) {
        font-size: 1.5rem;
        width: 60%;
      }
    }
    &__second-content-title {
      font-size: 1rem;
      font-family: 'Suisse Regular';
      color: gray;
      // letter-spacing: 3px;
      @media (max-height: 680px) and (min-width: 1200px) {
        font-size: 1rem;
        margin-bottom: 0;
      }
      @include is-mobile {
        font-size: 1rem;
        margin-bottom: 15px;
      }
    }
    &__second-content-details {
      width: 70%;
      font-size: 1.15rem;
      margin-bottom: 30px;
      font-family: 'Suisse Light';
      @media (max-height: 680px) and (min-width: 1200px) {
        width: 90%;
        font-size: 0.9rem;
        margin-bottom: 10px;
      }
      @include is-mobile {
        font-size: 0.9rem;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  &__section:nth-child(1) {
    margin-right: 10px;
    background-position: left;
  }
}
