@import '../../variables.scss';
@import '../../color-palette.scss';
@import '../../mixins.scss';

.business-card-wrapper {
  @include is-mobile {
    height: 75vh;
    width: 90%;
    padding-bottom: 10%;
  }
  &__member-card {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    h2 {
      font-size: 1.8rem;
      margin: 0 !important;
      font-family: 'Suisse Book';
    }
    span {
      position: absolute;
      bottom: 15%;
      font-size: 1rem;
      letter-spacing: 5px;
      text-decoration: underline;
      text-transform: uppercase;
      cursor: pointer;
      font-family: 'Suisse Book';
      @include is-mobile {
        font-size: 1rem;
        bottom: 10%;
      }
    }
  }
  &__modal {
    transition: 0.5s;
    &__overlay {
      top: 0;
      left: 0;
      position: absolute;
      height: 0%;
      width: 100vw;
      z-index: 500;
      overflow-y: hidden;
      transition: 0.5s;
      background-color: black;
    }

    &__content {
      position: relative;
      width: calc(100% - 50px);
      height: 100%;
      text-align: left;
      margin-top: 30px;
      padding-left: 50px;
      display: flex;
      @include is-mobile {
        margin-top: 0px;
        width: 90%;
        padding: 0 5%;
      }
      img {
        width: 40%;
        height: 100%;
        padding-right: 5%;
        padding-top: 0;
        object-fit: cover;
        @include is-mobile {
          display: none;
        }
      }
      section {
        width: 40%;
        display: block;
        position: relative;

        @include is-mobile {
          width: 100%;
        }
        h1 {
          font-family: 'Suisse Book';
          margin-bottom: 0;
          font-size: 2rem;
          padding-top: 50px;
          @include is-mobile {
            font-size: 1.4rem;
            padding-top: 80px;
          }
        }

        section {
          height: 70%;
          width: 100%;
          @include is-mobile {
            height: 60%;
          }
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 5px !important;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $primary !important;
            border-radius: 20px !important;
          }
          &::-webkit-scrollbar {
            background-color: rgba($color: #fff, $alpha: 0.8) !important;
            border-radius: 20px !important;
          }
          p {
            font-family: 'Suisse Light';
            font-size: 1.4rem;
            line-height: 30px;
            margin-top: 50px;
          }
        }
        a {
          font-family: 'Suisse Book';
          text-decoration: underline;
          text-transform: uppercase;
          color: white;
          font-size: 0.9rem;
          position: absolute;
          top: 90%;
          left: 0;
          letter-spacing: 5px;
        }
      }
    }

    &__close-button {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
      cursor: pointer;
      z-index: 500;
    }

    @media screen and (max-height: 450px) {
      &__overlay {
        overflow-y: auto;

        -webkit-overflow-scrolling: touch;
      }
      &__close-button {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
  }
}
